<footer class="footer">

  <div class="contenido">
    <div class="primercolumna">
      <div class="contenido1">
        <img src="assets/logo.png" alt="logo" class="logo"/>
        <h2>Futstore</h2>
      </div>

      <p class="descripcion">
        Tu tienda especializada en accesorios de fútbol. Calidad y pasion en cada producto.
      </p>
    </div>

    <div class="primercolumna">
      <h3>Compras</h3>
      <ul>
        <li><a routerLink="/products">Accesorios</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Nuevos Productos</a></li>
        <li><a href="#">Marcas</a></li>
      </ul>
    </div>

    <div class="primercolumna">
      <h3>Soporte</h3>
      <ul>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Envios</a></li>
        <li><a href="#">Devoluciones</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>

    <div class="primercolumna">
      <h3>Síguenos</h3>
      <div class="iconos-redes">
        <div class="icono"><i class="facebook"><img src="assets/face.png" alt=""></i></div>
        <div class="icono"><i class="instagram"><img src="assets/instagram.png" alt=""></i></div>
        <div class="icono"><i class="twitter"><img src="assets/twiter.png" alt=""></i></div>
        <div class="icono"><i class="gmail"><img src="assets/gmail.png" alt=""></i></div>
      </div>
    </div>

  </div>

  <div class="linea"></div>

  <div class="final-footer">
    <p>© 2025 Futstore. Todos los derechos reservados.</p>

    <div class="links">
      <a href="#">Terminos</a>
      <a href="#">Privacidad</a>
      <a href="#">Cookies</a>
    </div>
  </div>

</footer>
