<nav class="barra-navegacion">
  <div class="primer-contenido">
    <img src="assets/logo.png" class="logo"/>
    <p class="brand">FutStore</p>

    <a routerLink="" class="link">Inicio</a>
    <a routerLink="/products" class="link">Accesorios</a>
    <a routerLink="/contact" class="link">Contacto</a>
  </div>

  <div class="segundo-contenido">
    <input type="text" placeholder="Buscar productos..." class="buscar"/>
  </div>

  <div class="tercer-contenido">

    <!-- SI NO está autenticado -->
    <a *ngIf="(authService.user$ | async) === null" routerLink="/login" class="icon-btn">
      <img src="assets/login.png" alt="">
    </a>

    <!-- SI SÍ está autenticado -->
    <div *ngIf="(authService.user$ | async) as user" class="usuario-logueado">
      <i class="fa-solid fa-user"></i> {{ user.name }}
      <button class="logout-btn" (click)="logout()">Salir</button>
    </div>

    <a routerLink="/carrito" class="icon-btn">
      <img src="assets/carrito.png" alt="">
    </a>

  </div>
</nav>
