.header {
  background: url("/assets/contacto.png") center/cover no-repeat;
  padding: 100px 30px;
  text-align: center;
  color: white;
  box-shadow: inset 0 0 3000px rgb(0, 0, 0);
}
.header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.linea {
  width: 100%;
  height: 4px;
  background: #10c055;
}

.content {
  display: flex;
  gap: 25px;
  padding: 40px 60px;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CARDS */
.card {
  background: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(60, 255, 0, 0.1);
}

/* FORM TITLE */
.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


/* FORM */
.row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  
}

.btn {
  background: #10c055;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

/* INFORMACIÓN */
.info-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.icon {
  min-width: 40px;
  height: 40px;
  background: #51ff0067;
  color: #10c055;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}

/* FAQ */
.faq-card ul {
  list-style: none;
  padding: 0;
}
.faq-card ul li {
  color: #7a7a7a;
  margin: 10px 0 0 0;
}


